$main-img-height: 40px;
$card-height: 200px;
$card-width: 100%;
$card-price-height: 25px;

@import "cards";
@import "wonders";

.wonder {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100%;
}

.card:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  //margin: 10px;
}

.big-img {
  display: none;
  //position: absolute;
  //-webkit-transform: scale(2.5);
  //-moz-transform: scale(2.5);
  //-o-transform: scale(2.5);
}

.user-info {
  overflow: visible;
  border: solid black 2px;
  border-radius: 20px;
}

