.ALTAR {
  @extend .card;
  content:  url("img/cards/altar.jpg");
}

.LUMBER_YARD {
  @extend .card;
  content:  url("img/cards/lumber_yard.jpg");
}

.STONE_PIT {
  @extend .card;
  content:  url("img/cards/stone_pit.jpg");
}

.CLAY_POOL {
  @extend .card;
  content:  url("img/cards/clay_pool.jpg");
}

.ORE_VEIN {
  @extend .card;
  content:  url("img/cards/ore_vein.jpg");
}

.SAWMILL {
  @extend .card;
  content:  url("img/cards/sawmill.jpg");
}

.QUARRY {
  @extend .card;
  content:  url("img/cards/quarry.jpg");
}

.BRICKYARD {
  @extend .card;
  content:  url("img/cards/brickyard.jpg");
}

.FOUNDRY {
  @extend .card;
  content:  url("img/cards/foundry.jpg");
}

.TREE_FARM {
  @extend .card;
  content:  url("img/cards/tree_farm.jpg");
}

.EXCAVATION {
  @extend .card;
  content:  url("img/cards/excavation.jpg");
}

.CLAY_PIT {
  @extend .card;
  content:  url("img/cards/clay_pit.jpg");
}

.TIMBER_YARD {
  @extend .card;
  content:  url("img/cards/timber_yard.jpg");
}

.FOREST_CAVE {
  @extend .card;
  content:  url("img/cards/forest_cave.jpg");
}

.MINE {
  @extend .card;
  content:  url("img/cards/mine.jpg");
}

.LOOM {
  @extend .card;
  content:  url("img/cards/loom.jpg");
}

.GLASSWORKS {
  @extend .card;
  content:  url("img/cards/glassworks.jpg");
}

.PRESS {
  @extend .card;
  content:  url("img/cards/press.jpg");
}

.EAST_TRADING_POST {
  @extend .card;
  content:  url("img/cards/east_trading_post.jpg");
}

.WEST_TRADING_POST {
  @extend .card;
  content:  url("img/cards/west_trading_post.jpg");
}

.MARKETPLACE {
  @extend .card;
  content:  url("img/cards/marketplace.jpg");
}

.TAVERN {
  @extend .card;
  content:  url("img/cards/tavern.jpg");
}

.CARAVANSERY {
  @extend .card;
  content:  url("img/cards/caravansery.jpg");
}

.FORUM {
  @extend .card;
  content:  url("img/cards/forum.jpg");
}

.VINEYARD {
  @extend .card;
  content:  url("img/cards/vineyard.jpg");
}

.BAZAR {
  @extend .card;
  content:  url("img/cards/bazar.jpg");
}

.HAVEN {
  @extend .card;
  content:  url("img/cards/haven.jpg");
}

.LIGHTHOUSE {
  @extend .card;
  content:  url("img/cards/lighthouse.jpg");
}

.CHAMBER_OF_COMMERCE {
  @extend .card;
  content:  url("img/cards/chamber_of_commerce.jpg");
}

.ARENA {
  @extend .card;
  content:  url("img/cards/arena.jpg");
}

.PAWNSHOP {
  @extend .card;
  content:  url("img/cards/pawnshop.jpg");
}

.BATHS {
  @extend .card;
  content:  url("img/cards/baths.jpg");
}

.ALTAR {
  @extend .card;
  content:  url("img/cards/altar.jpg");
}

.THEATER {
  @extend .card;
  content:  url("img/cards/theater.jpg");
}

.AQUEDUCT {
  @extend .card;
  content:  url("img/cards/aqueduct.jpg");
}

.TEMPLE {
  @extend .card;
  content:  url("img/cards/temple.jpg");
}

.STATUE {
  @extend .card;
  content:  url("img/cards/statue.jpg");
}

.COURTHOUSE {
  @extend .card;
  content:  url("img/cards/courthouse.jpg");
}

.PANTHEON {
  @extend .card;
  content:  url("img/cards/pantheon.jpg");
}

.GARDENS {
  @extend .card;
  content:  url("img/cards/gardens.jpg");
}

.TOWN_HALL {
  @extend .card;
  content:  url("img/cards/town_hall.jpg");
}

.PALACE {
  @extend .card;
  content:  url("img/cards/palace.jpg");
}

.SENATE {
  @extend .card;
  content:  url("img/cards/senate.jpg");
}

.STOCKADE {
  @extend .card;
  content:  url("img/cards/stockade.jpg");
}

.BARRACKS {
  @extend .card;
  content:  url("img/cards/barracks.jpg");
}

.GUARD_TOWER {
  @extend .card;
  content:  url("img/cards/guard_tower.jpg");
}

.WALLS {
  @extend .card;
  content:  url("img/cards/walls.jpg");
}

.TRAINING_GROUND {
  @extend .card;
  content:  url("img/cards/training_ground.jpg");
}

.STABLES {
  @extend .card;
  content:  url("img/cards/stables.jpg");
}

.ARCHERY_RANGE {
  @extend .card;
  content:  url("img/cards/archery_range.jpg");
}

.FORTIFICATIONS {
  @extend .card;
  content:  url("img/cards/fortifications.jpg");
}

.CIRCUS {
  @extend .card;
  content:  url("img/cards/circus.jpg");
}

.ARSENAL {
  @extend .card;
  content:  url("img/cards/arsenal.jpg");
}

.SIEGE_WORKSHOP {
  @extend .card;
  content:  url("img/cards/siege_workshop.jpg");
}

.APOTHECARY {
  @extend .card;
  content:  url("img/cards/apothecary.jpg");
}

.WORKSHOP {
  @extend .card;
  content:  url("img/cards/workshop.jpg");
}

.SCRIPTORIUM {
  @extend .card;
  content:  url("img/cards/scriptorium.jpg");
}

.DISPENSARY {
  @extend .card;
  content:  url("img/cards/dispensary.jpg");
}

.LABORATORY {
  @extend .card;
  content:  url("img/cards/laboratory.jpg");
}

.LIBRARY {
  @extend .card;
  content:  url("img/cards/library.jpg");
}

.SCHOOL {
  @extend .card;
  content:  url("img/cards/school.jpg");
}

.LODGE {
  @extend .card;
  content:  url("img/cards/lodge.jpg");
}

.OBSERVATORY {
  @extend .card;
  content:  url("img/cards/observatory.jpg");
}

.UNIVERSITY {
  @extend .card;
  content:  url("img/cards/university.jpg");
}

.ACADEMY {
  @extend .card;
  content:  url("img/cards/academy.jpg");
}

.STUDY {
  @extend .card;
  content:  url("img/cards/study.jpg");
}

.WORKERS_GUILD {
  @extend .card;
  content:  url("img/cards/workers_guild.jpg");
}

.CRAFTMENS_GUILD {
  @extend .card;
  content:  url("img/cards/craftmens_guild.jpg");
}

.TRADERS_GUILD {
  @extend .card;
  content:  url("img/cards/traders_guild.jpg");
}

.PHILOSOPHERS_GUILD {
  @extend .card;
  content:  url("img/cards/philosophers_guil.jpg");
}

.SPY_GUILD {
  @extend .card;
  content:  url("img/cards/spy_guild.jpg");
}

.MAGISTRATES_GUILD {
  @extend .card;
  content:  url("img/cards/magistrates_guild.jpg");
}

.SHIPOWNERS_GUILD {
  @extend .card;
  content:  url("img/cards/shipowners_guild.jpg");
}

.SCIENTISTS_GUILD {
  @extend .card;
  content:  url("img/cards/scientists_guild.jpg");
}

.BUILDERS_GUILD {
  @extend .card;
  content:  url("img/cards/builders_guild.jpg");
}

.STRATEGY_GUILD {
  @extend .card;
  content:  url("img/cards/strategy_guild.jpg");
}
