.ALTAR {
  @extend .card;
  content:  url("img/cards/altar.png");
}

.LUMBER_YARD {
  @extend .card;
  content:  url("img/cards/lumber_yard.png");
}

.STONE_PIT {
  @extend .card;
  content:  url("img/cards/stone_pit.png");
}

.CLAY_POOL {
  @extend .card;
  content:  url("img/cards/clay_pool.png");
}

.ORE_VEIN {
  @extend .card;
  content:  url("img/cards/ore_vein.png");
}

.SAWMILL {
  @extend .card;
  content:  url("img/cards/sawmill.png");
}

.QUARRY {
  @extend .card;
  content:  url("img/cards/quarry.png");
}

.BRICKYARD {
  @extend .card;
  content:  url("img/cards/brickyard.png");
}

.FOUNDRY {
  @extend .card;
  content:  url("img/cards/foundry.png");
}

.TREE_FARM {
  @extend .card;
  content:  url("img/cards/tree_farm.png");
}

.EXCAVATION {
  @extend .card;
  content:  url("img/cards/excavation.png");
}

.CLAY_PIT {
  @extend .card;
  content:  url("img/cards/clay_pit.png");
}

.TIMBER_YARD {
  @extend .card;
  content:  url("img/cards/timber_yard.png");
}

.FOREST_CAVE {
  @extend .card;
  content:  url("img/cards/forest_cave.png");
}

.MINE {
  @extend .card;
  content:  url("img/cards/mine.png");
}

.LOOM {
  @extend .card;
  content:  url("img/cards/loom.png");
}

.GLASSWORKS {
  @extend .card;
  content:  url("img/cards/glassworks.png");
}

.PRESS {
  @extend .card;
  content:  url("img/cards/press.png");
}

.EAST_TRADING_POST {
  @extend .card;
  content:  url("img/cards/east_trading_post.png");
}

.WEST_TRADING_POST {
  @extend .card;
  content:  url("img/cards/west_trading_post.png");
}

.MARKETPLACE {
  @extend .card;
  content:  url("img/cards/marketplace.png");
}

.TAVERN {
  @extend .card;
  content:  url("img/cards/tavern.png");
}

.CARAVANSERY {
  @extend .card;
  content:  url("img/cards/caravansery.png");
}

.FORUM {
  @extend .card;
  content:  url("img/cards/forum.png");
}

.VINEYARD {
  @extend .card;
  content:  url("img/cards/vineyard.png");
}

.BAZAR {
  @extend .card;
  content:  url("img/cards/bazar.png");
}

.HAVEN {
  @extend .card;
  content:  url("img/cards/haven.png");
}

.LIGHTHOUSE {
  @extend .card;
  content:  url("img/cards/lighthouse.png");
}

.CHAMBER_OF_COMMERCE {
  @extend .card;
  content:  url("img/cards/chamber_of_commerce.png");
}

.ARENA {
  @extend .card;
  content:  url("img/cards/arena.png");
}

.PAWNSHOP {
  @extend .card;
  content:  url("img/cards/pawnshop.png");
}

.BATHS {
  @extend .card;
  content:  url("img/cards/baths.png");
}

.ALTAR {
  @extend .card;
  content:  url("img/cards/altar.png");
}

.THEATER {
  @extend .card;
  content:  url("img/cards/theater.png");
}

.AQUEDUCT {
  @extend .card;
  content:  url("img/cards/aqueduct.png");
}

.TEMPLE {
  @extend .card;
  content:  url("img/cards/temple.png");
}

.STATUE {
  @extend .card;
  content:  url("img/cards/statue.png");
}

.COURTHOUSE {
  @extend .card;
  content:  url("img/cards/courthouse.png");
}

.PANTHEON {
  @extend .card;
  content:  url("img/cards/pantheon.png");
}

.GARDENS {
  @extend .card;
  content:  url("img/cards/gardens.png");
}

.TOWN_HALL {
  @extend .card;
  content:  url("img/cards/town_hall.png");
}

.PALACE {
  @extend .card;
  content:  url("img/cards/palace.png");
}

.SENATE {
  @extend .card;
  content:  url("img/cards/senate.png");
}

.STOCKADE {
  @extend .card;
  content:  url("img/cards/stockade.png");
}

.BARRACKS {
  @extend .card;
  content:  url("img/cards/barracks.png");
}

.GUARD_TOWER {
  @extend .card;
  content:  url("img/cards/guard_tower.png");
}

.WALLS {
  @extend .card;
  content:  url("img/cards/walls.png");
}

.TRAINING_GROUND {
  @extend .card;
  content:  url("img/cards/training_ground.png");
}

.STABLES {
  @extend .card;
  content:  url("img/cards/stables.png");
}

.ARCHERY_RANGE {
  @extend .card;
  content:  url("img/cards/archery_range.png");
}

.FORTIFICATIONS {
  @extend .card;
  content:  url("img/cards/fortifications.png");
}

.CIRCUS {
  @extend .card;
  content:  url("img/cards/circus.png");
}

.ARSENAL {
  @extend .card;
  content:  url("img/cards/arsenal.png");
}

.SIEGE_WORKSHOP {
  @extend .card;
  content:  url("img/cards/siege_workshop.png");
}

.APOTHECARY {
  @extend .card;
  content:  url("img/cards/apothecary.png");
}

.WORKSHOP {
  @extend .card;
  content:  url("img/cards/workshop.png");
}

.SCRIPTORIUM {
  @extend .card;
  content:  url("img/cards/scriptorium.png");
}

.DISPENSARY {
  @extend .card;
  content:  url("img/cards/dispensary.png");
}

.LABORATORY {
  @extend .card;
  content:  url("img/cards/laboratory.png");
}

.LIBRARY {
  @extend .card;
  content:  url("img/cards/library.png");
}

.SCHOOL {
  @extend .card;
  content:  url("img/cards/school.png");
}

.LODGE {
  @extend .card;
  content:  url("img/cards/lodge.png");
}

.OBSERVATORY {
  @extend .card;
  content:  url("img/cards/observatory.png");
}

.UNIVERSITY {
  @extend .card;
  content:  url("img/cards/university.png");
}

.ACADEMY {
  @extend .card;
  content:  url("img/cards/academy.png");
}

.STUDY {
  @extend .card;
  content:  url("img/cards/study.png");
}

.WORKERS_GUILD {
  @extend .card;
  content:  url("img/cards/workers_guild.png");
}

.CRAFTMENS_GUILD {
  @extend .card;
  content:  url("img/cards/craftmens_guild.png");
}

.TRADERS_GUILD {
  @extend .card;
  content:  url("img/cards/traders_guild.png");
}

.PHILOSOPHERS_GUILD {
  @extend .card;
  content:  url("img/cards/philosophers_guil.png");
}

.SPY_GUILD {
  @extend .card;
  content:  url("img/cards/spy_guild.png");
}

.MAGISTRATES_GUILD {
  @extend .card;
  content:  url("img/cards/magistrates_guild.png");
}

.SHIPOWNERS_GUILD {
  @extend .card;
  content:  url("img/cards/shipowners_guild.png");
}

.SCIENTISTS_GUILD {
  @extend .card;
  content:  url("img/cards/scientists_guild.png");
}

.BUILDERS_GUILD {
  @extend .card;
  content:  url("img/cards/builders_guild.png");
}

.STRATEGY_GUILD {
  @extend .card;
  content:  url("img/cards/strategy_guild.png");
}
