/*
Sass::SyntaxError: ".herbs > span" failed to @extend ".text-normal".
The selector ".text-normal" was not found.
Use "@extend .text-normal !optional" if the extend should be able to fail.


Backtrace:
D:\Dropbox\domains\wonder\static\css\style.scss:16
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/extend.rb:62:in `block in check_extends_fired!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/util/subset_map.rb:105:in `block in each_value'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/util/subset_map.rb:105:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/util/subset_map.rb:105:in `each_value'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/visitors/extend.rb:16:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:39:in `css_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".herbs > span\" failed to @extend \".text-normal\".\A The selector \".text-normal\" was not found.\A Use \"@extend .text-normal !optional\" if the extend should be able to fail.\A "; }
