.chat-container {
    border: black 1px solid;
    min-width: 250px;
    width: 20%;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    resize: horizontal;
    padding: 10px;
    overflow: auto;
}

.chat-dialog {
    width: 100%;
    resize: vertical;
}