<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"></meta>

    <title>Inlimited - Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico"></link>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/yarn_components/bootstrap/dist/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/yarn_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="/static/yarn_components/requirejs/require.js" data-main="/js/config"></script>
</head>
<body>
<div class="main-holder">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h1>7 wonder Main Page holder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <a href="/signin">
                <button class="btn btn-default">sign in</button>
            </a>
            <a class="btn btn-default" href="/register">
                register
            </a>
            <a class="btn btn-default" href="/lobby">
                lobby
            </a>
            <a class="btn btn-default" href="/pre_start">
                pre start
            </a>
            <a class="btn btn-default" href="/game">
                game
            </a>
        </div>
    </div>
</div>
</body>
</html>