<!DOCTYPE html>
<html lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<body>
<h1>Home page 7wonders</h1>
<div class="col-xs-6 col-xs-offset-3">
    <a href="/signin">
        <button class="btn btn-default">sign in</button>
    </a>
    <a class="btn btn-default" href="/register">
        register
    </a>
    <a class="btn btn-default" href="/lobby">
        lobby
    </a>
    <a class="btn btn-default" href="/pre_start">
        <button class="btn btn-default">pre start</button>
    </a>
    <a class="btn btn-default" href="/game">
        <button class="btn btn-default">game</button>
    </a>
</div>
</body>
</html>